<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @note.subject %>
</p>

<p>
  <b>Body:</b>
  <%= @note.body %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
